In [3]:
import json

In [4]:
with open("./contacts.json") as filepath:
    data = json.loads(filepath.read())

In [5]:
def update(old, new, dic, reversedic):
    for Id in reversedic[old]:
        dic[Id] = new
    reversedic[new].extend(reversedic[old])

In [6]:
email = {}
reverseEmail = {}
phone = {}
reversePhone = {}
orderId = {}
reverseOrderId = {}
namelist = {}
names = []

for ticket in data:    
    if ticket['Email'] != '' and ticket['Email'] in email:
        name = email[ticket['Email']]
        namelist[name][1] += ticket['Contacts']
        namelist[name][0] = str(namelist[name][0]) + "-" + str(ticket['Id'])
        
        if ticket['Phone'] != '' and ticket['Phone'] not in phone:
            phone[ticket['Phone']] = name
            if name not in reversePhone:
                reversePhone[name] = [ticket['Phone'],]
            else:
                reversePhone[name].append(ticket['Phone'])
                
        elif ticket['Phone'] != '' and ticket['Phone'] in phone:
            other = phone[ticket['Phone']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
            
        if ticket['OrderId'] != '' and ticket['OrderId'] not in orderId:
            orderId[ticket['OrderId']] = name
            if name not in reverseOrderId:
                reverseOrderId[name] = [ticket['OrderId'],]
            else:
                reverseOrderId[name].append(ticket['OrderId'])
                
        elif ticket['OrderId'] != '' and ticket['OrderId'] in orderId:
            other = orderId[ticket['OrderId']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
            
    elif ticket['Phone'] != '' and ticket['Phone'] in phone:
        name = phone[ticket['Phone']]
        namelist[name][1] += ticket['Contacts']
        namelist[name][0] = str(namelist[name][0]) + "-" + str(ticket['Id'])
        
        if ticket['Email'] != '' and ticket['Email'] not in email:
            email[ticket['Email']] = name
            if name not in reverseEmail:
                reverseEmail[name] = [ticket['Email'],]
            else:
                reverseEmail[name].append(ticket['Email'])
                
        elif ticket['Email'] != '' and ticket['Email'] in email:
            other = email[ticket['Email']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
            
        if ticket['OrderId'] != '' and ticket['OrderId'] not in orderId:
            orderId[ticket['OrderId']] = name
            if name not in reverseOrderId:
                reverseOrderId[name] = [ticket['OrderId'],]
            else:
                reverseOrderId[name].append(ticket['OrderId'])
                
        elif ticket['OrderId'] != '' and ticket['OrderId'] in orderId:
            other = orderId[ticket['OrderId']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
            
    elif ticket['OrderId'] != '' and ticket['OrderId'] in orderId:
        name = orderId[ticket['OrderId']]
        namelist[name][1] += ticket['Contacts']
        namelist[name][0] = str(namelist[name][0]) + "-" + str(ticket['Id'])
        
        if ticket['Phone'] != '' and ticket['Phone'] not in phone:
            phone[ticket['Phone']] = name
            if name not in reversePhone:
                reversePhone[name] = [ticket['Phone'],]
            else:
                reversePhone[name].append(ticket['Phone'])
                
        elif ticket['Phone'] != '' and ticket['Phone'] in phone:
            other = phone[ticket['Phone']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
            
        if ticket['Email'] != '' and ticket['Email'] not in email:
            email[ticket['Email']] = name
            if name not in reverseEmail:
                reverseEmail[name] = [ticket['Email'],]
            else:
                reverseEmail[name].append(ticket['Email'])
                
        elif ticket['Email'] != '' and ticket['Email'] in email:
            other = email[ticket['Email']]
            namelist[name][1] += namelist[other][1]
            namelist[name][0] = str(namelist[name][0]) + "-" + str(namelist[other][0])
            update(other, name, email, reverseEmail)
            update(other, name, phone, reversePhone)
            update(other, name, orderId, reverseOrderId)
            del namelist[other]
        
    else:
        if len(names) == 0:
            names.append(1)
        else:
            names.append(names[-1] + 1)
        
        namelist[names[-1]] = [str(ticket['Id']), ticket['Contacts']]
        email[ticket['Email']] = names[-1]
        reverseEmail[names[-1]] = [ticket['Email'], ]
        phone[ticket['Phone']] = names[-1]
        reversePhone[names[-1]] = [ticket['Phone'], ]
        orderId[ticket['OrderId']] = names[-1]
        reverseOrderId[names[-1]] = [ticket['OrderId'], ]

In [7]:
len(namelist)

291904

In [8]:
import csv

data = namelist
results = {}

for key, value in data.items():
    IDs = value[0]
    contact = value[1]
    IDList = IDs.split("-")
        
    IDList = list(map(lambda x: int(x), IDList))

    IDList = sorted(IDList)
    
    traceString = str(IDList[0])
    for ID in IDList[1:]: 
        traceString = traceString + "-" + str(ID)

    for ID in IDList:
        if ID not in results:
            results[ID] = traceString + ", " + str(contact)

In [10]:
import pandas as pd

df = pd.DataFrame(results.items())

In [11]:
df.head()

    0                             1
0   0                          0, 1
1   3                          3, 0
2   4                          4, 2
3   6  6-38-32871-142067-236367, 13
4  38  6-38-32871-142067-236367, 13

In [13]:
df.columns = ['ticket_id', 'ticket_trace/contact']

In [15]:
df.head()

   ticket_id          ticket_trace/contact
0          0                          0, 1
1          3                          3, 0
2          4                          4, 2
3          6  6-38-32871-142067-236367, 13
4         38  6-38-32871-142067-236367, 13

In [16]:
df = df.sort_values('ticket_id')

In [18]:
df.head()

        ticket_id                          ticket_trace/contact
0               0                                          0, 1
222096          1  1-2458-98519-115061-140081-165605-476346, 12
246217          2                     2-159312-322639-348955, 4
1               3                                          3, 0
2               4                                          4, 2

In [20]:
df = df.reset_index(drop=True)

In [21]:
df.to_csv('#1 - Shopee123 - Open')

   ticket_id                          ticket_trace/contact
0          0                                          0, 1
1          1  1-2458-98519-115061-140081-165605-476346, 12
2          2                     2-159312-322639-348955, 4
3          3                                          3, 0
4          4                                          4, 2